{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Nuestra Familia" %}{% endblock %}

{% block content %}
<section class="history-page">
  <div class="history-container">
    <h1>{% trans "Historia de los British Shorthair" %}</h1>
    <p>
      {% trans "En este apartado pincelaremos una vista rápida en la que conocerán brevemente la historia de la raza que representa nuestra familia felina, el British Shorthair, también conocido como gato británico de pelo corto, es considerado una de las razas felinas más antiguas y populares de Gran Bretaña y de las primeras en ser categorizada como tal." %}
    </p>
    <p>
      {% trans "Su historia se remonta a tiempos remotos, y su evolución ha sido fascinante. Permíteme llevarte a través de los hitos clave en la historia de esta noble y cándida raza." %}
    </p>

    <h2>{% trans "Orígenes Romanos" %}</h2>
    <p>
      {% trans "Primeramente trataremos de sumergirnos en el pasado de esta raza a partir de sus orígenes, que se remontan en la época romana. Se cree que las cohortes y mercaderes romanos llevaron consigo los ancestros directos del British Shorthair desde Egipto, cruzándolos con los gatos autóctonos de la región, creando gatos de constitución robusta y pelaje denso." %}
    </p>

    <h2>{% trans "Evolución y Diversidad Morfológica" %}</h2>
    <p>
      {% trans "En sus inicios, el British Shorthair consistía en dos tipos distintos: el robusto de cabeza redonda y el alargado de cabeza triangular. A lo largo del tiempo, estos tipos se cruzaron antes de separarse definitivamente en dos razas: nuestros queridos British Shorthair y el Russian Blue." %}
    </p>

    <h2>{% trans "Exposiciones Felinas: Un Cambio de Paradigma" %}</h2>
    <p>
      {% trans "Las primeras exposiciones felinas en Inglaterra, celebradas en 1871 en el Crystal Palace gracias al visionario Harrison Weir, marcaron un hito en la historia de los British Shorthair. Estas exposiciones permitieron a los criadores mostrar y mejorar la raza, estableciendo estándares que todavía se mantienen hoy en día." %}
    </p>

    <h2>{% trans "Adversidades: La Segunda Guerra Mundial" %}</h2>
    <p>
      {% trans "Durante la Segunda Guerra Mundial, los British Shorthair enfrentaron una drástica reducción demográfica debido a los bloqueos navales y los bombardeos. Sin embargo, los criadores perseveraron utilizando gatos Russian Blue, persas, y otros para reanudar la crianza." %}
    </p>

    <h2>{% trans "Reconocimiento Internacional" %}</h2>
    <p>
      {% trans "En 1970, el British Shorthair obtuvo el reconocimiento oficial por organizaciones felinas como GFA y TICA. Hoy en día, esta raza es conocida por su carácter tranquilo, afable y leal, ideal para familias y hogares." %}
    </p>

    <h2>{% trans "Características Físicas y Sociabilidad" %}</h2>
    <p>
      {% trans "El British Shorthair es compacto, poderoso y equilibrado, con un cuerpo profundo, pecho amplio y patas cortas. Su pelaje corto y denso viene en diversos colores, y su carácter tranquilo y afable lo convierte en un compañero excepcional." %}
    </p>

    <p>
      {% trans "Como hemos visto, el British Shorthair es una joya histórica que ha conquistado corazones a lo largo de los siglos. Su robustez, belleza y carácter amigable lo convierten en un compañero felino excepcional." %}
    </p>
  </div>
</section>
{% endblock %}